:root {
    /* design variables */
    --alignment-right: 40px;
    --head-foot-roundness: 15px;

    /* colour variables */
    color-scheme: light dark;
    --fgsize: clamp( 14px, 3.5vw, 25px );
    --fgsize: 18px;
    --fgcol: rgb(112, 22, 22);
    --bgcol: rgb(252, 242, 195);
    @media (prefers-color-scheme: dark) {
        --fgcol: rgb(252, 242, 195);
        --bgcol: rgb(53, 14, 14);
    }
}
@font-face {
    font-family: 'Aardvark';
    src: url(../font/AARDC___.TTF);
}
body {
    font-family: 'Aardvark', sans-serif;
    margin: 1em calc(10vw);
    line-height: 2;
    color: var(--fgcol);
    /* the clamp scales to screen size 
    on personal preference, instead of 18px */
    font-size: var(--fgsize);
    
    background: var(--bgcol);
    
}
header:has(.site-title) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-right: var(--alignment-right);
    .site-title {
        padding: 0px;
        margin: 0px;
        /* colour only takes affect if support for 
        attr(type) is unavailable; a fallback */
        color: color-mix(in oklch, var(--fgcol) 20%, rgb(244, 122, 255) 100%);
        --total_letters: attr(data-count type(<number>), 10);
        span {
            /* variables designed in javascript and set 
            on the elements with attributes. total_letters 
            inherits from the parent. */
            /* firefox doesnt support parsing data types 
            with the attribute css function yet */
            
            --index: attr(data-index-number type(<number>), 5);
            --hue: calc((360 / var(--total_letters)) * var(--index));
            color: hsl(var(--hue) 100% 75%);
        }
    }
}
footer {
    
    padding-right: var(--alignment-right);
    text-align: right;
}
header, footer {
    background: var(--fgcol);
    border-radius: var(--head-foot-roundness);
    padding: 1em;
    &, a, a:visited {
        color: var(--bgcol);
    }
}
nav {
    ul {
        display: flex;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        flex-wrap: wrap;
        font-size: .7em;
        a, a:visited {
            transition: background .3s ease, color .3s ease;
            text-decoration: none;
            padding: .5em;
            border-radius: 10px;
            color: color-mix(in oklch, var(--bgcol) 100%, var(--fgcol) 50%);
            &:focus, &:hover {
                background:  color-mix(in oklch, var(--bgcol) 100%, var(--fgcol) 50%);
                color: inherit;
            }
        }
       
    }
}
img {
    max-width: 100%;
    max-height: 100%;
}
figure {
    margin: 0px auto;
    img {
        box-shadow: -2px 2px 5px black;
        border-radius: 10px;
    }
    #my-image {
        box-shadow: 0px 0px 2px 1px black;
    }
}
figcaption {
    font-size: .7em;
    text-align: right;
}



/* body  */


main {
    margin-right: var(--alignment-right);
    & > * {
        margin-right: 0px;
    }
}
dl {
    display: grid;
    gap: 2em;
    dt {
        font-weight: 500;
        text-decoration: underline 2px solid;
    }
}
blockquote {
    /* bring fgcol into scope to mut it */
    border-left: var(--fgcol) solid 5px;
    margin-right: unset;
    font-style: normal;
    margin-left: 0px;
    padding: 1em;
    padding-left: 3em;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--fgcol);
    background: oklch(from var(--fgcol) l c h / .1);
    
    
}


cite {
    font-style: italic;
    display: block;
    &::before {
        content: "- ";
    }
}
p {
    text-align: justify;
}
ul:is(.hobbies) {
    list-style-type: square;
    
}
ul:is(.hobbies) li:nth-child(odd) {
        background: linear-gradient(
            90deg,
            color-mix(in oklch, var(--bgcol) 100%, rgba(131, 58, 180, 1) 30%) 0%,
            rgba(252, 176, 69, 0) 100%
        );
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.267);
        border-radius: 10px;
        padding-left: var(--alignment-right);
        
    }